---
import colors from "tailwindcss/colors";

const { size = "50vw" , extColor = "amber-300", borderColor = "amber-50", intColor1 = "#D97706", intColor2 = "#fcd34d" } = Astro.props

const colorEvaluator = (color:string,opacity?:string):string => color[0]==="#"?`[${color}${opacity}]`:color

---

<div
      class={`flex border m-10 w-[${size}] h-[${size}] border-${borderColor} rounded-full shadow-lg shadow-${extColor} bg-gradient-radial from-${colorEvaluator(intColor1,"50")} via-${colorEvaluator(intColor1,"78")} to-${colorEvaluator(intColor2,"a0")} opacity-100 animate-pulse-slow`}
      style="--tw-shadow-colored: 0 0 5vw -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);"
    >
</div>